[Ll]ibrary/
[Tt]emp/
[Oo]bj/
[Bb]uild/
[Bb]uilds/
[Mm]emoryCaptures/
*.csproj
*.unityproj
*.sln
*.user
*.pidb
*.booproj
*.svd
*.pdb
*.apk
*.mdb
*userprefs
.DS_Store
.vscode/
.idea/
*.log
.vs/
obj/
Logs/
UserSettings/
Assets/downloaded assets/
Assets/JohnFarmer/
Assets/other/